<ngx-spinner></ngx-spinner>




<body class="body">

    <section class="bg">
        <div class="content">

            <div class="from-content">
                <div class="text-center img">
                    <img src="../../assets/person.png" alt="" class="h-100">
                </div>

                <form class="example-form mt-3">
                    <mat-form-field class="example-full-width">
                        <mat-label><i class="fa fa-envelope"></i> Email</mat-label>
                        <input matInput placeholder="Enter Mail" value="" type="email">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label><i class="fa fa-envelope"></i>Old Password</mat-label>
                        <input matInput placeholder="Enter Old Password" value="" type="password">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label><i class="fa fa-envelope"></i>New password</mat-label>
                        <input matInput placeholder="Enter New Password" value="" type="password">
                    </mat-form-field>
                </form>



                <div class="text-center mt-4">
                    <button class="btn btn-success btn-block mt-4" routerLink="/dashboard">Submit</button>
                </div>


            </div>
        </div>
    </section>