<div class="container-fluid">
    
    <mat-card>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Zsoon Team</h2>
                </div>
                <div class="col-lg-2">
 <button mat-raised-button color="primary" routerLink="/zsoonrole"><i class="fa fa-plus"></i> Add Roles</button>
             </div>
            </div>
 <hr>
 
            <div class="row">
                <div class="col-sm-6">
                    <select class="form-control">
                        <option>Select Entries</option>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
                        <option>10</option>
 
                    </select>
                </div>
 
                <div class="col-sm-6">
                     <form class="example-form">
                         <mat-form-field class="example-full-width">
                           <mat-label><i class="fa fa-search"></i> Search</mat-label>
                           <input matInput placeholder="Enter Value" value="" >
                         </mat-form-field>
                         </form>
                
                </div>
            </div>
 
            <div class="row">
                <div class="col-sm-12">
              <div class="table-responsive">
                 <table class = "table table-stripped table-bordered">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Role</th>
                           <th>Id</th>
                           <th>Description</th>
                           <th>Mail</th>
                           <th>Address</th>
                           <th>Contact</th>

                           <th>Action</th>
                        </tr>
                     </thead>
                  <tbody>
                     <tr>
                        <td>Rahul</td>
                        <td>Admin</td>
                        <td>A056</td>
                        <td>This Role Is For Admin</td>
                        <td>Rahul@gmail.com</td>
                        <td>Rt Nagar</td>
                        <td>82738938</td>

                        <td><mat-icon color="accent" class="m-1" matTooltip="Edit"> border_color</mat-icon>

                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                            </td>
 
 
                     </tr>
                     <tr>
                         <td>Rakesh</td>
                         <td>New Admin</td>
                         <td>A080</td>
                         <td>This Role Is For New Admin</td>
                         <td>Rakesh@gmail.com</td>
                         <td>Kammanahalli</td>
                         <td>82738938</td>
                         <td><mat-icon color="accent" class="m-1" matTooltip="Edit"> border_color</mat-icon>

                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                            </td>
                      </tr>
                      <tr>
                         <td>suresh</td>
                         <td>Internal Admin</td>
                         <td>A056</td>
                         <td>This Role Is For Internal Admin</td>
                         <td>suresh@gmail.com</td>
                         <td>Vijay Nagar</td>
                         <td>82738938</td>
                         <td><mat-icon color="accent" class="m-1" matTooltip="Edit"> border_color</mat-icon>

                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                            </td>
                      </tr>
                     <tr>
                         <td>Vijay</td>
                         <td>Internal Admin</td>
                         <td>A075</td>
                         <td>This Role Is For Internal Admin</td>
                         <td>vijay@gmail.com</td>
                         <td>Rajaji Nagar</td>
                         <td>82738938</td>
                         <td><mat-icon color="accent" class="m-1" matTooltip="Edit"> border_color</mat-icon>

                            <mat-icon color="warn" matTooltip="Delete">delete</mat-icon>
                        </td>
                      </tr>
                      
                  </tbody>
               </table>
              </div>
                   
                   
                </div>
            </div>
        </div>
        
 
    </mat-card>
 </div>


